<div class="container-fluid">
    <div class="row">
<div class="col-xs-8">
    <h2 style="margin-left:50px;">Welcome</h2>
    <h3 style="margin-left:105px; margin-top:15px;">To</h3>
    <img  styel="margin-top:15px; margin-left:300px" src="assets/Images/web-mobile.png" width="275px">
</div>
    <div  class="col-xs-8 " style="float:right; margin-right:100px;margin-top:-18em;">
    <h1 style="color: white; float:right; margin-right:60px;">Online Shopping</h1>
   <div class="col-sm 4 text-right" style="color: white;margin-top:20px;margin-left:700px;float:right;">
   <p>At Emart,we start our day by thinking about how to </p>
   <p>serve our customers who make our businesses possible.</p>
   <p>At Emart,we start our day by thinking about how to </p>
    </div>
    </div>
</div>
</div>

